@font-face {
    font-family: "Arsenal";
    src: url(fonts/ArsenalSC-Bold.ttf);
    src: url('fonts/ArsenalSC-BoldItalic.ttf')format('truetype'),
         url('fonts/ArsenalSC-Italic.ttf')format('truetype'),
         url('fonts/ArsenalSC-Regular.ttf')format('truetype');
}


:root {
    --height: 800px;
    --background-color:rgb(245, 253, 253);
    --second-color:rgb(172, 255, 255);
    --second-text-color:rgb(51, 47, 47);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Arial";;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.left {
    width : 35%;
    height: var(--height);
}

/* move the image to the left */
img {
    margin-left: -150px;
}


/* right side */
.right {
    width : 70%;
    height: var(--height);
    background-color: var(--background-color);

    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: column;
    
}

/* right side content */
.right > * {
    flex: 1;
    padding-left: 2rem;
    padding-right: 2rem;
}

.bottom, .top{
    background-color: var(--second-color);
    flex: 3.5;
}

.middle {
    flex:3;
}

p:first-child{
    margin-top: 100px;
}

p {
    font-size: 22px;
    margin-bottom: 1.5rem;
}


/* form */
.form{
    border: none;
    margin: 2rem 0;
    width:100%;
    display: flex;
    flex-flow: column;
}


legend {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    width: 100%;
}

.row {
    display: flex;
    flex-flow: row;
}

.form-row {
    display: flex;
    flex:1;
    flex-direction: column;
}

label {
    letter-spacing: 0.1rem;
    font-size: 1rem;
    text-transform: uppercase;
    justify-content: space-between;
    color: var(--second-text-color);
    font-weight: bold;
}

input {
    padding: 0.5rem;
    margin: 0.5rem 0;
    margin-bottom: 2rem;
    border: 1px solid #928282;
    border-radius: 4px;
    width:80%;
}


