@font-face {
    font-family: "Arsenal";
    src: url(fonts/ArsenalSC-Bold.ttf);
    src: url('fonts/ArsenalSC-BoldItalic.ttf')format('truetype'),
         url('fonts/ArsenalSC-Italic.ttf')format('truetype'),
         url('fonts/ArsenalSC-Regular.ttf')format('truetype');
}


:root {
    --height: 800px;
    --background-color:rgb(245, 253, 253);
    --second-color:rgb(172, 255, 255);
    --second-text-color:rgb(51, 47, 47);
    --third-color: rgb(11, 10, 65);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Arial";
}

body {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width : 30%;
    height: var(--height);
    background-image: url("images/background_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

/* move the image to the left */
img {
    margin-left: -120px;
}

.top1 {
    display: flex;
    flex:1;
}
.bottom1 {
    flex:2.5;
}

#banner {
    flex:1;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 0;
    background-color: var(--third-color);
    width: 100%;
    height: 50%;
    opacity: 0.5;
    background-image: url("images/odin_logo.png");
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
}



/* right side */
.right {
    display: flex;
    flex:1;
    height: 100%;
    width : 70%;
    height: var(--height);
    background-color: var(--background-color);
    justify-content: center;
    align-items: stretch;
    flex-flow: column;

    min-width: 450px;
}

/* right side content */
.right > * {
    padding-left: 2rem;
    padding-right: 2rem;
}

.bottom, .top{
    background-color: var(--second-color);
    flex:3.5;
}

.middle {
    padding-left: 2rem;
    padding-right: 2rem;
    flex:1;
}

p:first-child{
    margin-top: 100px;
}

p {
    font-size: 22px;
    margin-bottom: 1.5vh;
}


/* form */
.form{
    border: none;
    margin: 2rem 0;
    width:100%;
    display: flex;
    flex-flow: column;
}


legend {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    width: 100%;
    color: var(--third-color);
}

.row {
    display: flex;
    flex-flow: row;
}

.form-row {
    display: flex;
    flex:1;
    flex-direction: column;
}

label {
    letter-spacing: 0.1rem;
    font-size: 1rem;
    text-transform: uppercase;
    justify-content: space-between;
    color: var(--second-text-color);
    font-weight: bold;
}

input {
    padding: 0.5rem;
    margin: 0.5rem 0;
    margin-bottom: 2rem;
    border: 1px solid #928282;
    border-radius: 4px;
    width:80%;
}

button {
    padding: 15px;
    margin: 0.5rem 0;
    margin-top: 2rem;
    margin-bottom: 2vh;
    border: none;
    border-radius: 8px;
    background-color: var(--third-color);
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    width:250px;
}

a {
    text-decoration: none;
    color: var(--third-color);
    font-weight: bold;
}

input:focus, button {
    outline: none;
    box-shadow: 2px 2px 3px var(--third-color);

}

input:invalid{
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
    /* background-color: hsl(147, 62%, 80%); */
}

#confirm-password:invalid{
    background-color: hsl(0, 62%, 80%);
}